
* {
    padding: 0px;
    margin: 0px;
}

.khung1 {
    background-color: whitesmoke;
    text-align: center;
}

.khung2 {
    display: inline-block;
}

.bang {
    width: 1000px;
    margin-top: 120px;
    border-collapse: collapse;
    background-color: white;
    border: solid palevioletred 1px;
    border-radius: 3px 3px;
}

    .bang tr {
        border: solid palevioletred 1px;
    }

    .bang td {
        height: 100px;
        text-align: left;
        padding-left: 10px;
    }

    .bang th {
        height: 80px;
        text-align: left;
        padding-left: 10px;
        background-color: palevioletred;
    }

.hinh {
    width: 150px;
}

.image {
    width: 100px;
}

    .image:hover {
        width: 150px;
        border: solid red 3px;
        border-radius: 3px 3px;
    }

.ten {
    width: 300px;
}

.giatien {
    width: 150px;
}

.soluong {
    width: 100px;
}

.khungsoluong {
    width: 50px;
}

.thanhtien {
    width: 200px;
}

.khungxoa {
    width: 16px;
    border: solid red 1px;
    color: red;
}

    .khungxoa:hover {
        width: 17px;
        color: white;
        background-color: red;
        border-radius: 3px 3px;
    }

.xoa {
    width: 50px;
}

.bang2 {
    width: 1000px;
    height: 80px;
    background-color: white;
    border: solid palevioletred 1px;
    border-radius: 3px 3px;
}

.b2d1c1 {
    width: 800px;
    text-align: right;
}

.b2d1c2 {
    width: 200px;
    text-align: center;
}

.d1 {
    text-decoration: underline;
    color: red;
}

.d2 {
    text-decoration: none;
    color: red;
}

.khungthanhtoan {
    height: 50px;
    width: 100px;
    background-color: lightseagreen;
    border-radius: 3px 3px;
    color: white;
    border: solid lightseagreen 1px;
}

    .khungthanhtoan:hover {
        height: 55px;
        width: 105px;
        background-color: lightseagreen;
        border-radius: 3px 3px;
        color: white;
        border: solid lightseagreen 1px;
    }

.trolai {
    width: 150px;
    height: 40px;
    border: solid whitesmoke 1px;
    background-color: whitesmoke;
    border-radius: 3px 3px;
    color: black;
    opacity: 0.7;
}

    .trolai:hover {
        width: 151px;
        height: 41px;
        opacity: 1.1;
    }

#bangthongbao {
    position: absolute;
    background-color: white;
    width: 600px;
    text-align: center;
    border: solid black 1px;
    border-radius: 3px 3px;
    margin-left: 200px;
    margin-top: 300px;
    display: none;
}

.anh {
    width: 200px;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #666;
    width: 1200px;
}

.header {
    background-color:  #006977;
    padding: 2rem 0;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

    .header a h1 {
        color: #136cc4;
    }

.menu > li, menu > a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
}

    .menu a:hover {
        background-color: #f34949;
        color: #fff;
    }

.menu2 {
    position: absolute;
    background-color: #2c3e50;
    width: 200px;
    left: 0;
    display: none;
}

.menu li:hover > .menu2 {
    display: block;
}

.buy-now {
    border-radius: 15%;
    height: 80px;
    width: 40px;
    background-color: #0c0769;
    color: #bbbbbb;
}

.content {
    padding-top: 120px;
}

    .content h2 {
        color: #1810ae;
    }

.danhsach {
    width: 1200px;
    clear: both;
}

    .danhsach li {
        width: 295px;
        height: 100%;
        display: inline-block;
    }

    .danhsach img {
        width: 300px;
        height: auto;
        padding: 10px;
        transition-duration: .3s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }

.giagoc {
    stroke: #666;
}

.danhsach h3 {
    color: #333;
}

.danhsach strong {
    color: #d0021c;
    font-size: 18px;
}

.danhsach small {
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
}

.danhsach img:hover {
    transform: translateX(20px);
}

.danhsach li:hover > h3 {
    color: #288ad6;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 300px;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .link a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba((255), 255, 255, 0.2);
        margin: 0 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.3s ease;
    }

        .footer-col .link a:hover {
            color: #24262b;
            background-color: #ffffff;
        }
/* dinh danh header */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #666;
    width: 1200px;
}

.header {
    background-color: #2c3e50;
    padding: 2rem 0;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

    .header a h1 {
        color: #136cc4;
    }

.menu > li, menu > a {
    display: inline-block;
}

.menu .icon{
    width: 15px;
    color: #bbbbbb;
}
.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
}

    .menu a:hover {
        background-color: #f34949;
        color: #fff;
    }

.menu2 {
    position: absolute;
    background-color: #2c3e50;
    width: 200px;
    left: 0;
    display: none;
}
.menu li:hover > .menu2 {
    display: block;
}

.buy-now {
    border-radius: 15%;
    height: 80px;
    width: 40px;
    background-color: #0c0769;
    color: #bbbbbb;
}

.content {
    padding-top: 120px;
}

    .content h2 {
        color: #1810ae;
    }

.danhsach {
    width: 1200px;
    clear: both;
}

    .danhsach li {
        width: 295px;
        height: 100%;
        display: inline-block;
    }

    .danhsach img {
        width: 300px;
        height: auto;
        padding: 10px;
        transition-duration: .3s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }

.giagoc {
    stroke: #666;
}

.danhsach h3 {
    color: #333;
}

.danhsach strong {
    color: #d0021c;
    font-size: 18px;
}

.danhsach small {
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
}

.danhsach img:hover {
    transform: translateX(20px);
}

.danhsach li:hover > h3 {
    color: #288ad6;
}

/* dinh dang footer */

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 300px;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .link a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba((255), 255, 255, 0.2);
        margin: 0 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.3s ease;
    }

        .footer-col .link a:hover {
            color: #24262b;
            background-color: #ffffff;
        }



